<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\CustomOptions" type="Flipdev\Productoptions\Ui\DataProvider\Product\Form\Modifier\CustomOptions" />
    <virtualType name="Flipdev\Productoptions\ReferenceImageUpload" type="Magento\Catalog\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">catalog/customoptions/images</argument>
            <argument name="basePath" xsi:type="string">catalog/customoptions</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
            <argument name="allowedMimeTypes" xsi:type="array">
                <item name="jpg" xsi:type="string">image/jpg</item>
                <item name="jpeg" xsi:type="string">image/jpeg</item>
                <item name="gif" xsi:type="string">image/gif</item>
                <item name="png" xsi:type="string">image/png</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Flipdev\Productoptions\Controller\Adminhtml\Feature\Image\Upload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Flipdev\Productoptions\ReferenceImageUpload</argument>
        </arguments>
    </type>
</config>